<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142214910872-qgs7bksp5g2v13gfq4goeitg72c88e7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142214910872-qgs7bksp5g2v13gfq4goeitg72c88e7o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>142214910872-e0r2kooua6uigh95441rdad11fsr8hvc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCz3fi_biqil3uLb1TFJ7P0SWbAbRU5nZc</string>
	<key>GCM_SENDER_ID</key>
	<string>142214910872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sojonewsapp</string>
	<key>PROJECT_ID</key>
	<string>sojonewsdebug</string>
	<key>STORAGE_BUCKET</key>
	<string>sojonewsdebug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142214910872:ios:af32a729c9c2d37c5d51ed</string>
</dict>
</plist>