<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550042982411-r2hcln2thi32je7aui3glvn1hjf049cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550042982411-r2hcln2thi32je7aui3glvn1hjf049cn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>550042982411-jb8ocu5v7mo6cdr90kf5k0mvanm3bqtf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCMdHSRaf-xuzuganA-5gf1jwXvTS5Xrs</string>
	<key>GCM_SENDER_ID</key>
	<string>550042982411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sojonewsapp</string>
	<key>PROJECT_ID</key>
	<string>sojonewsapp-251bd</string>
	<key>STORAGE_BUCKET</key>
	<string>sojonewsapp-251bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550042982411:ios:34df61d899da7938ac4f0e</string>
</dict>
</plist>